*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
}

.container {
  width: 80%;
  margin: auto;
}

.cds-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.cd{
  width: 200px;
  margin-bottom: 10px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.title {
  color: #e21b1b;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.album {
  width: 198px;
  height: 198px;
}
