*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
}

.container {
  width: 100%;
  height: 40px;
  background-color: #191313;
  border-bottom: 1px solid green;
  margin: auto;
  margin-bottom: 10px;
}

.logo {
  width: 65px;
  text-align: center;
  vertical-align: middle;
}

.cds-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;

}

.cd{
  width: 200px;
  margin-bottom: 10px;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
}

.title {
  color: #e21b1b;
  font-size: 15px;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.album {
  width: 198px;
  height: 198px;
}
